[mysqld]
# --- 基础设置 ---
default-time-zone = '+8:00'
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# --- 主从复制核心配置 ---
# 服务器唯一ID，必须和主库以及其他从库不同
server-id = 3
# 开启GTID模式，要和主库保持一致
gtid-mode = ON
enforce-gtid-consistency = ON

# --- 从库特性配置 ---
# 设置为只读模式，防止意外写入数据，保证数据源的唯一性
read_only = 1
# 中继日志，用于存放从主库拿到的Binlog，可以想象成分店店员的小笔记本
relay-log = mysql-relay-bin
# 开启从库的binlog，这样它未来也可以作为其他从库的主库，实现链式复制
log-bin = mysql-bin
